<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    Tiktok!!
    <img src="<%= email_tracker_url(@email) %>" >
  </body>
</html>
